.input-name {
        border: 1px solid #83bce2; 
        border-radius: 3px; 
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px; 
        -khtml-border-radius: 3px; 
        background: #ffffff !important; 
        outline: none; 
        height: 24px; 
        width: 171px; 
        color: #cccccc; 
        font-size: 11px; 
        font-family: Tahoma; 
        position: relative;
        top: -100px;
}

.input-surname {
    border: 1px solid #83bce2; 
        border-radius: 3px; 
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px; 
        -khtml-border-radius: 3px; 
        background: #ffffff !important; 
        outline: none; 
        height: 24px; 
        width: 171px; 
        color: #cccccc; 
        font-size: 11px; 
        font-family: Tahoma; 
        position: relative;
        top: -50px;
        left: -174px;
        
}

.input-checkbox {
        position: relative;
        left: -350px; 
        top: -9px;
}

.input-radio {
        position: relative;
        left: -367px;
        top: 20px; 
}