.header {
    background-color: #3745ad;
    height: 64px;
    z-index: 2;
    color: #ffffff;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.header-menu__button {
    border: 0;
    height: 100%;
    width: 60px;
    background-color: #5560b9;
    cursor: pointer;
}

.header-menu__button:focus {
    outline: none;
}

.header-menu__button__icon {
    height: 24px;
    width: 24px;
}

.header-label {
    display: flex;
    padding: 0px 40px 0px 20px;
}

.header-label__logo {
    margin-right: 10px;
}

.header-label__logo__icon {
    height: 40px;
    width: auto;
}

.header-label__versions-description {
    opacity: 0.5;
    font-size: 11pt;
}

.header-label__versions-name {
    font-weight: bold;
}

.header-title {
    height: 44px;
}

.header-title__name {
    font-weight: bold;
}

.header-title__description {
    font-size: 11pt;
}

.header-notify {
    padding: 0px 15px;
    position: relative;
}

.header-notify__icon {
    height: 24px;
    width: 24px;
}

.header-notify__badge {
    color: #fff;
    background: #fe1936;
    position: absolute;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -webkit-transform: scale(.6);
    transform: scale(.6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
    width: 22px;
    height: 22px;
    line-height: 22px;
    top: -4px;
    right: 8px;
}

.flex-spacer {
    flex-grow: 1;
}

.header-menu {
    font-weight: bold;
    padding: 0px 15px;
}

.header-menu__icon {
    height: 24px;
    width: 24px;
}