.button-white {
    background-color: #ffffff;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    position: relative;
    top: 173px;
    left: -455px;
}

.button-stateblue {
    background-color: #6A5ACD;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    position: relative;
    top: 173px;
    left: -455px;
}

.button-pink {
    background-color:#FF69B4;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    position: relative;
    top: 173px;
    left: -455px;
}

.button-orange {
    background-color: #FF450099;
    height: 25px;
    width: 70px;
    border-radius: 10px;
    position: relative;
    top: 173px;
    left: -455px;
}

.button-gray {
    background-color: #D3D3D3;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    position: relative;
    top: 173px;
    left: -455px;
}




