.textarea-st {
    border: 1px solid #83bce2; 
    border-radius: 3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    background: #ffffff !important; 
    outline: none; 
    height: 90px; 
    width: 171px; 
    color: #cccccc; 
    font-size: 11px; 
    font-family: Tahoma; 
    position: relative;
    position: relative;
    left: -384px;
    top: 134px;
}