.sidebar {
}

.sidebar-overflow {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.8;
    display: none;
}

.sidebar-container {
    overflow: hidden;
    position: fixed;
    width: 0px;
    background-color: #fff;
    color: #000000 !important;
    height: 100vh;
    box-shadow: inset 0 7px 2px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12)!important;
    z-index: 11;
    transition: all 0.5s;
}

.sidebar__open .sidebar-overflow {
    display: block;
}

.sidebar__open .sidebar-container__moving {
    width: 300px
}

.sidebar-header {
    background-color: #5560b9;
    height: 64px;
    width: 100%
}

.sidebar-header__button {
    border: 0;
    height: 100%;
    width: 60px;
    background-color: #5560b9;
    cursor: pointer;
}
.sidebar-header__button:focus {
    outline: none;
}

.sidebar-header__button__icon {
    height: 24px;
    width: 24px;
    opacity: 0.5;
}

.sidebar-body-menu {
    padding-inline-start: 20px;
}

.sidebar-body-menu__li {
    list-style: none;
    line-height: 3;
    display: flex;
}

.sidebar-body-menu__li:hover {
    cursor: pointer;
    color: #3745ad;
    fill: #3745ad !important;
}

.sidebar-body__button__span {
    font-size: 16pt;
}

.sidebar-body__button__icon-container {
    width: 50px;
    padding-top: 13px;
}

.sidebar-body__button__icon {
    height: 24px;
    width: 24px;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    border-top: 1px solid #cccccc;
}